<!DOCTYPE html>
<html>
  <head>
    <title>Passport-Slice Example</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <% if (!user) { %>
      <p>
      <a href="/">Home</a> | 
      <a href="/login">Log In</a>
      </p>
    <% } else { %>
      <p>
      <a href="/">Home</a> | 
      <a href="/account">Account</a> | 
      <a href="/logout">Log Out</a>
      </p>
    <% } %>
    <% if (!user) { %>
      <h2>Welcome! Please log in.</h2>
    <% } else { %>
      <h2>Hello, <%= user.firstName %>.</h2>
    <% } %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
